<ion-header>

  <ion-navbar>
    <ion-title>BIZINGO</ion-title>
  </ion-navbar>

</ion-header>


<ion-content text-center >
 
      <div class="my-container">

        <!--Peças player 1-->
        <div  class="part-player-1" title="peça 1 - (player 1)">
          <div class="inside-player-1"></div>
        </div>

         <!--Peças player 2-->
         <div class="part-player-2" title="peça 1 - (player 2)">
          <div class="inside-player-2"></div>
        </div>
        <!--Tabuleiro-->
        <!--Line 1-->
        <div class="arrow-up" id="position-1-1"></div>
        <div class="arrow-down" id="position-1-2"></div>
        <div class="arrow-up" id="position-1-3"></div>
        <div class="arrow-down" id="position-1-4"></div>
        <div class="arrow-up" id="position-1-5"></div>
        
        <!--Line 2-->
        <div class="arrow-up" id="position-2-1"></div>
        <div class="arrow-down" id="position-2-2"></div>
        <div class="arrow-up" id="position-2-3"></div>
        <div class="arrow-down" id="position-2-4"></div>
        <div class="arrow-up" id="position-2-5"></div>
        <div class="arrow-down" id="position-2-6"></div>
        <div class="arrow-up" id="position-2-7"></div>

        <!--Line 3-->
        <div class="arrow-up" id="position-3-1"></div>
        <div class="arrow-down" id="position-3-2"></div>
        <div class="arrow-up" id="position-3-3"></div>
        <div class="arrow-down" id="position-3-4"></div>
        <div class="arrow-up" id="position-3-5"></div>
        <div class="arrow-down" id="position-3-6"></div>
        <div class="arrow-up" id="position-3-7"></div>
        <div class="arrow-down" id="position-3-8"></div>
        <div class="arrow-up" id="position-3-9"></div>


        <!--Line 4-->
        <div class="arrow-up center" id="position-4-1"></div>
        <div class="arrow-down center" id="position-4-2"></div>
        <div class="arrow-up center" id="position-4-3"></div>
        <div class="arrow-down center" id="position-4-4"></div>
        <div class="arrow-up center" id="position-4-5"></div>
        <div class="arrow-down center" id="position-4-6"></div>
        <div class="arrow-up center" id="position-4-7"></div>
        <div class="arrow-down center" id="position-4-8"></div>
        <div class="arrow-up center" id="position-4-9"></div>
        <div class="arrow-down center" id="position-4-10"></div>
        <div class="arrow-up center" id="position-4-11"></div>
        
        <!--Line 5-->
        <div class="arrow-up center" id="position-5-1"></div>
        <div class="arrow-down center" id="position-5-2"></div>
        <div class="arrow-up center" id="position-5-3"></div>
        <div class="arrow-down center" id="position-5-4"></div>
        <div class="arrow-up center" id="position-5-5"></div>
        <div class="arrow-down center" id="position-5-6"></div>
        <div class="arrow-up center" id="position-5-7"></div>
        <div class="arrow-down center" id="position-5-8"></div>
        <div class="arrow-up center" id="position-5-9"></div>
        <div class="arrow-down center" id="position-5-10"></div>
        <div class="arrow-up center" id="position-5-11"></div>
        <div class="arrow-down center" id="position-5-12"></div>
        <div class="arrow-up center" id="position-5-13"></div>

         <!--Line 6-->
         <div class="arrow-up center" id="position-6-1"></div>
         <div class="arrow-down center" id="position-6-2"></div>
         <div class="arrow-up center" id="position-6-3"></div>
         <div class="arrow-down center" id="position-6-4"></div>
         <div class="arrow-up center" id="position-6-5"></div>
         <div class="arrow-down center" id="position-6-6"></div>
         <div class="arrow-up center" id="position-6-7"></div>
         <div class="arrow-down center" id="position-6-8"></div>
         <div class="arrow-up center" id="position-6-9"></div>
         <div class="arrow-down center" id="position-6-10"></div>
         <div class="arrow-up center" id="position-6-11"></div>
         <div class="arrow-down center" id="position-6-12"></div>
         <div class="arrow-up center" id="position-6-13"></div>
         <div class="arrow-down center" id="position-6-14"></div>
         <div class="arrow-up center" id="position-6-15"></div>

          <!--Line 7-->
          <div class="arrow-up center" id="position-7-1"></div>
          <div class="arrow-down center" id="position-7-2"></div>
          <div class="arrow-up center" id="position-7-3"></div>
          <div class="arrow-down center" id="position-7-4"></div>
          <div class="arrow-up center" id="position-7-5"></div>
          <div class="arrow-down center" id="position-7-6"></div>
          <div class="arrow-up center" id="position-7-7"></div>
          <div class="arrow-down center" id="position-7-8"></div>
          <div class="arrow-up center" id="position-7-9"></div>
          <div class="arrow-down center" id="position-7-10"></div>
          <div class="arrow-up center" id="position-7-11"></div>
          <div class="arrow-down center" id="position-7-12"></div>
          <div class="arrow-up center" id="position-7-13"></div>
          <div class="arrow-down center" id="position-7-14"></div>
          <div class="arrow-up center" id="position-7-15"></div>
          <div class="arrow-down center" id="position-7-16"></div>
          <div class="arrow-up center" id="position-7-17"></div>

           <!--Line 8-->
           <div class="arrow-up center" id="position-8-1"></div>
           <div class="arrow-down center" id="position-8-2"></div>
           <div class="arrow-up center" id="position-8-3"></div>
           <div class="arrow-down center" id="position-8-4"></div>
           <div class="arrow-up center" id="position-8-5"></div>
           <div class="arrow-down center" id="position-8-6"></div>
           <div class="arrow-up center" id="position-8-7"></div>
           <div class="arrow-down center" id="position-8-8"></div>
           <div class="arrow-up center" id="position-8-9"></div>
           <div class="arrow-down center" id="position-8-10"></div>
           <div class="arrow-up center" id="position-8-11"></div>
           <div class="arrow-down center" id="position-8-12"></div>
           <div class="arrow-up center" id="position-8-13"></div>
           <div class="arrow-down center" id="position-8-14"></div>
           <div class="arrow-up center" id="position-8-15"></div>
           <div class="arrow-down center" id="position-8-16"></div>
           <div class="arrow-up center" id="position-8-17"></div>
           <div class="arrow-down center" id="position-8-18"></div>
           <div class="arrow-up center" id="position-8-19"></div>

           <!--Line 9-->
           <div class="arrow-up center" id="position-9-1"></div>
           <div class="arrow-down center" id="position-9-2"></div>
           <div class="arrow-up center" id="position-9-3"></div>
           <div class="arrow-down center" id="position-9-4"></div>
           <div class="arrow-up center" id="position-9-5"></div>
           <div class="arrow-down center" id="position-9-6"></div>
           <div class="arrow-up center" id="position-9-7"></div>
           <div class="arrow-down center" id="position-9-8"></div>
           <div class="arrow-up center" id="position-9-9"></div>
           <div class="arrow-down center" id="position-9-10"></div>
           <div class="arrow-up center" id="position-9-11"></div>
           <div class="arrow-down center" id="position-9-12"></div>
           <div class="arrow-up center" id="position-9-13"></div>
           <div class="arrow-down center" id="position-9-14"></div>
           <div class="arrow-up center" id="position-9-15"></div>
           <div class="arrow-down center" id="position-9-16"></div>
           <div class="arrow-up center" id="position-9-17"></div>
           <div class="arrow-down center" id="position-9-18"></div>
           <div class="arrow-up center" id="position-9-19"></div>
           <div class="arrow-down center" id="position-9-20"></div>
           <div class="arrow-up center" id="position-9-21"></div>

           <!--Line 10-->
           <div class="arrow-down center" id="position-10-1"></div>
           <div class="arrow-up center" id="position-10-2"></div>
           <div class="arrow-down center" id="position-10-3"></div>
           <div class="arrow-up center" id="position-10-4"></div>
           <div class="arrow-down center" id="position-10-5"></div>
           <div class="arrow-up center" id="position-10-6"></div>
           <div class="arrow-down center" id="position-10-7"></div>
           <div class="arrow-up center" id="position-10-8"></div>
           <div class="arrow-down center" id="position-10-9"></div>
           <div class="arrow-up center" id="position-10-10"></div>
           <div class="arrow-down center" id="position-10-11"></div>
           <div class="arrow-up center" id="position-10-12"></div>
           <div class="arrow-down center" id="position-10-13"></div>
           <div class="arrow-up center" id="position-10-14"></div>
           <div class="arrow-down center" id="position-10-15"></div>
           <div class="arrow-up center" id="position-10-16"></div>
           <div class="arrow-down center" id="position-10-17"></div>
           <div class="arrow-up center" id="position-10-18"></div>
           <div class="arrow-down center" id="position-10-19"></div>
           <div class="arrow-up center" id="position-10-20"></div>
           <div class="arrow-down center" id="position-10-21"></div>

          <!--Line 11-->
          <div class="arrow-down center" id="position-11-1"></div>
          <div class="arrow-up center" id="position-11-2"></div>
          <div class="arrow-down center" id="position-11-3"></div>
          <div class="arrow-up center" id="position-11-4"></div>
          <div class="arrow-down center" id="position-11-5"></div>
          <div class="arrow-up center" id="position-11-6"></div>
          <div class="arrow-down center" id="position-11-7"></div>
          <div class="arrow-up center" id="position-11-8"></div>
          <div class="arrow-down center" id="position-11-9"></div>
          <div class="arrow-up center" id="position-11-10"></div>
          <div class="arrow-down center" id="position-11-11"></div>
          <div class="arrow-up center" id="position-11-12"></div>
          <div class="arrow-down center" id="position-11-13"></div>
          <div class="arrow-up center" id="position-11-14"></div>
          <div class="arrow-down center" id="position-11-15"></div>
          <div class="arrow-up center" id="position-11-16"></div>
          <div class="arrow-down center" id="position-11-17"></div>
          <div class="arrow-up center" id="position-11-18"></div>
          <div class="arrow-down center" id="position-11-19"></div>

          <div padding class="row dados-jogo">
            <div class="col">
              Player 1: 100 pts
            </div>
            <div class="col">
              Player 2: 40 pts
            </div>
          </div>
      </div>

      <div class="batePapo" *ngIf="chatVisible">
        
        <div (click)="toogleChat()" padding="5px">
          Bate-Papo
          <div style="text-align: right;cursor:pointer; margin-top: -20px;">
            <ion-icon name="close" ></ion-icon>          
          </div>
          <hr>
        </div>
        <div class="container-bate-papo">
         
          <br>
          <div class="message-wrap">
            <div *ngFor="let msg of msgList"
                class="message"
                [class.left]=" msg.userId === toUser.id "
                [class.right]=" msg.userId === user.id ">
              <img class="user-img" [src]="msg.userAvatar" alt="" src="">
              <ion-spinner name="dots" *ngIf="msg.status === 'pending'"></ion-spinner>
              <div class="msg-detail">
                <div class="msg-info">
                  <p>
                    {{msg.userName}}&nbsp;&nbsp;&nbsp;{{msg.time | relativeTime}}</p>
                </div>
                <div class="msg-content">
                  <span class="triangle"></span>
                  <p class="line-breaker ">{{msg.message}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ion-footer no-border [style.height]="showEmojiPicker ? '255px' : '55px'">
          <div class="input-wrap">
            <button ion-button clear icon-only item-right (click)="switchEmojiPicker()">
              <ion-icon name="md-happy"></ion-icon>
            </button>
            <textarea #chat_input
                      placeholder="Converse com o oponente"
                      [(ngModel)]="editorMsg"
                      (keyup.enter)="sendMsg()"
                      (focusin)="onFocus()">
            </textarea>
            <button ion-button clear icon-only item-right (click)="sendMsg()">
              <ion-icon name="ios-send" ios="ios-send" md="md-send"></ion-icon>
            </button>
          </div>
          <!--emoji-picker [(ngModel)]="editorMsg"></!--emoji-picker-->
        </ion-footer>
      </div>

      <div class="batePapo" *ngIf="!chatVisible">
        <div style="padding: 10px;"  (click)="toogleChat()">
          Converse com seu oponente
          <button ion-button color="primary">
            <ion-icon name="chatboxes"></ion-icon>
          </button>
        </div>
        
      </div>
</ion-content>
